/* Canvas */

body, html {
    background-color: #fcfcf0;
}

#painting {
  height: 400px;
  width: 400px;
  background: white;    
  margin-top: 30px;
  margin: auto;
}

#redbox {
  width: 290px;
  height: 290px;
  transition-property: all;
  transition-duration: 1s;
  float: right;
  transform: scale(1,1);
  
  animation: opacityToZero;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.redbox:hover {
  transform: rotate(360deg);
  transform: scale(0.5,0.5);
  animation-play-state: running;
}

#bottom-left-box {
  width: 100px;
  height: 100px;
  transition-property: all;
  transition-duration: 1s;
  float: right;
  transform: scale(1,1);
  
  animation: opacityToZero;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.bottom-left-box:hover {
  transform: rotate(360deg);
  transform: scale(0.5,0.5);
  animation-play-state: running;
}


#bottom-right-column {
  height: 100px;
  width: 40px;
}

#bottom-middle-box {
  height: 100px;
  width: 240px;
  transition-property: all;
  transition-duration: 1s;
  float: right;
  transform: scale(1,1);
  
  animation: opacityToZero;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.bottom-middle-box:hover {
  transform: rotate(360deg);
  transform: scale(0.5,0.5);
  animation-play-state: running;
}

#divider-1 {
  height: 290px;
  width: 10px;
}

#divider-2 {
  height: 10px;
  width: 100px;
}

#divider-3 {
  height: 10px;
  width: 400px;
}

#divider-4 {
  height: 100px;
  width: 10px;
}

#divider-5 {
  height: 10px;
  width: 50px;
}

#divider-6 {
  height: 100px;
  width: 10px;
}


.right {
  float: right;
}

.medium-box {
  width: 100px;
  height: 140px;
}

.small-box {
  width: 50px;
  height: 45px;
}


.red {
  background-color: #df3f32;
}

.blue {
  background-color: #2b2964;
}

.yellow {
  background-color: #ffd602;
}

.black {
  background-color: #040607;
}

@keyframes opacityToZero {

  0% {
    opacity: 1
  }
  50% {
    opacity: 0.5
  }
  100%{ 
    opacity: 0 
  }
}